
@import 'variables';

body {
    background: $background url(/images/grid.png);
    background-attachment: fixed;
    font-size: 10px;
}

body, * {
    color: $text;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

// reset
button {
    -webkit-appearance: none;
    border: 0 none;
    background: none;
    color: $text;
    display: block;
}

@import 'layout';
@import 'elements';
@import 'form';
