@charset "UTF-8";
body {
  background: #4060a0 url(/images/grid.png);
  background-attachment: fixed;
  font-size: 10px; }

body, * {
  color: #d0e8f0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

button {
  -webkit-appearance: none;
  border: 0 none;
  background: none;
  color: #d0e8f0;
  display: block; }

.layout_track .layout__pane--main {
  padding-right: 20vw; }
  .layout_track .layout__pane--main .layout__pane__inner {
    max-width: 900px;
    margin: 0 auto; }

.layout_track .layout__pane--track {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 20vw;
  background: #6080b0;
  border-left: 1px solid #90b0e0;
  box-shadow: inset 5px 0 5px rgba(24, 32, 48, 0.3); }

.layout_2e {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem; }

.layout_3e {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem; }

.layout_23 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1rem; }

.track-scroll .track-scroll__pane {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .track-scroll .track-scroll__pane__inner {
    border: 1px solid #90b0e0;
    border-radius: 4px;
    background: rgba(96, 128, 176, 0.7);
    padding: 1rem 2rem; }

.next-page {
  margin-left: 90%; }

.slide-in {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -80vw;
  width: 75vw;
  transition: right 0.5s;
  background: #6080b0;
  border-left: 1px solid #90b0e0;
  box-shadow: 0 0 10px #182030; }
  .slide-in .slide-in__inner {
    padding: 1rem 4rem; }
  .slide-in.slide-in--active {
    right: 0;
    z-index: 10; }
  .slide-in .slide-in__close {
    width: 0;
    height: 0; }
    .slide-in .slide-in__close:before {
      content: "×";
      position: absolute;
      top: 1rem;
      left: -0.5rem;
      width: 2rem;
      height: 2rem;
      line-height: 1.8rem;
      border-radius: 2rem;
      text-align: center;
      background: #4060a0;
      border: 1px solid #90b0e0;
      font-size: 2rem;
      font-weight: bold;
      box-shadow: -5px 0 5px rgba(24, 32, 48, 0.3);
      cursor: pointer; }

.row {
  display: flex;
  flex-direction: row; }
  .row .row__block {
    padding-right: 1rem; }
    .row .row__block h2, .row .row__block h3 {
      line-height: 2rem;
      margin: 0 0 1rem 0; }

.reveal {
  display: none; }
  .reveal.reveal--show {
    display: block; }

.track {
  max-width: 100px;
  margin: 1rem auto; }
  .track .track__point {
    margin: 1rem 0; }
    .track .track__point button {
      display: flex;
      flex-direction: row;
      font-size: 1.6rem;
      line-height: 3rem;
      height: 3rem; }
      .track .track__point button:before {
        content: "×";
        font-size: 3rem;
        font-weight: bold;
        width: 3rem;
        height: 3rem; }
    .track .track__point:after {
      content: "";
      display: block;
      border-left: 4px solid #d0e8f0;
      height: 4rem;
      margin-left: 1.7rem;
      margin-top: 1rem; }
    .track .track__point:last-child:after {
      display: none; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.6rem; }

h4 {
  font-size: 1.3rem; }

h2, h3 {
  line-height: 2rem;
  margin: 0 0 1rem 0; }

picture {
  display: block;
  margin: 1rem auto; }
  picture img {
    display: block;
    margin: 0 auto; }

.field {
  margin: 1rem 0; }
  .field button {
    min-width: 20rem;
    min-height: 2rem;
    line-height: 2rem;
    font-size: 1.5rem;
    border: 1px solid #90b0e0;
    border-radius: 0.5rem;
    background: #4060a0; }

.options-pane__other {
  display: block;
  margin: 1rem auto;
  width: 20rem;
  line-height: 2rem;
  border-radius: 0.5rem;
  border: 1px solid #90b0e0;
  background: #4060a0;
  text-align: center;
  cursor: pointer; }

.options-pane.options-pane--list button.option {
  cursor: pointer;
  display: inline-block;
  line-height: 2rem;
  margin: 0.3rem 0;
  font-size: 1.3rem;
  min-width: 10em; }

.options-pane.options-pane--portraits button.option {
  margin: 0 1rem;
  display: inline-block;
  background: #e0e6ec;
  border: 1px solid #90b0e0;
  border-radius: 4px;
  padding: 0.5rem; }
  .options-pane.options-pane--portraits button.option img {
    filter: grayscale(100%);
    mix-blend-mode: multiply;
    display: block;
    margin: 0 auto;
    height: 300px;
    max-height: 80vh; }
  .options-pane.options-pane--portraits button.option.option--medium img {
    height: 300px; }
  .options-pane.options-pane--portraits button.option.option--small img {
    height: 230px; }
  .options-pane.options-pane--portraits button.option span {
    width: 100%;
    font-size: 1.3rem;
    line-height: 2rem;
    color: #4060a0; }

p {
  font-size: 1.1rem;
  margin: 0 0 0.4rem 0; }
  p.info {
    padding-left: 1.6rem; }

fieldset {
  border: 0 none;
  padding: 0;
  margin: 0; }

label {
  font-size: 1.2rem; }

select {
  font-size: 1.2rem;
  background: #4060a0;
  padding: 0.3rem 0.6rem; }

.well {
  background: rgba(96, 128, 176, 0.7);
  border: 1px solid #90b0e0;
  border-radius: 4px;
  box-shadow: inset 0 0 5px #182030; }
  .well img {
    display: none; }
    .well img.selected {
      display: block; }
